@font-face {
    font-family: nunito;
    src: url('/fonts/NunitoSans-SemiBold.ttf');
}

* {
    font-family: nunito;

}

.Par-loginrow{
    max-height:100%;
}
.login-row {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;


}

.login-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 2%;
    background: white;
    padding: 2%;
    outline: none;
    width: 100%;
    margin-bottom: 3%;
    margin-left: 1%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.login-div input:focus {
    border: 2px solid rgb(255, 128, 0);

}

.login-div button {
    display: block;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 2%;
    margin-left: 0%;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.login-div button:hover {
    background: #FFCB2B;
    color: rgb(255, 128, 0);
    border: 2px solid #FFA611;
    cursor: pointer;

}

.signup-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 2%;
    background: white;
    padding: 8%;
    outline: none;
    width: 200px;
    margin-bottom: 3%;
    margin-left: 1%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.signup-div input:focus {
    border: 2px solid rgb(255, 128, 0);

}

.singup-div button {
    display: block;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 5%;
    margin-left: 1%;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.signup-div button:hover {
    background: #FFCB2B;
    color: rgb(255, 128, 0);
    border: 2px solid #FFA611;
    cursor: pointer;

}


.logout-div {

    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-left: 70%;
    /*margin-right: 5%;*/
    min-width: 100px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}



.logout-div:hover {
    background: #FFCB2B;
    color: rgb(255, 128, 0);
    border: 2px solid #FFA611;
    cursor: pointer;

}

.card-deck .card {
    max-width: 800px;
    min-width: 250px;
    min-height: 150px;
}

.card-text {
    font-size: 50px;

}

.btn {

    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-top: 1%;
    margin-left: 1%;
    width: 100px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;

}

.btn:hover {
    background: #FFCB2B;
    color: rgb(255, 128, 0);
    border: 2px solid #FFA611;
    cursor: pointer;

}

.toggle {
    background: #FFCB2B;
    color: rgb(255, 128, 0);
    border: 2px solid #FFA611;
    cursor: pointer;
}

.kecik {
    border-width: 2px;
}

.kecik:hover {
    background: #FFCB2B;
    color: rgb(255, 128, 0);
    border: 2px solid #FFA611;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
}

.besar {

    /* margin:auto; */
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    /* min-width:500px;
max-width:700px; */
    border: 2px solid white;
    border-width: 2px;
}
